fastapi
uvicorn[standard]
sqlalchemy>=1.4
psycopg2-binary
python-dotenv
pydantic[email]
alembic
phidata
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-multipart
email-validator
aiohttp
fastapi-mail
setuptools
face-recognition
openai
httpx
rave_python
google-generativeai

# Libraries required for dlib
dlib
cmake>=3.22.0
